<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Droplets</title>
    <link rel="stylesheet" href="{{url_for('static', filename = "css/bootstrap.min.css")}}" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{url_for('static', filename = "fonts/fontawesome-all.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename = "fonts/font-awesome.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename = "fonts/ionicons.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename = "fonts/fontawesome5-overrides.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename = "css/Contact-Form-Clean.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename = "css/Login-Form-Clean.css")}}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Droplets</span></div>
                </a>
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item">Name: {{data["name"]}}</li>
                    <li class="nav-item">Address: {{data["address"]}}</li>
                    <li class="nav-item">Bill: {{data["bill_amount"]}}</li>
                    <li class="nav-item">Status: {{data["status"]}}</li>
                </ul>
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid"><a class="navbar-brand" href="index.html">Home</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link active" href="payments.html">Payments</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{url_for('logs')}}">Transaction Logs</a></li>
                            <li class="nav-item"></li>
                            <a type="button" class="btn btn-secondary"   href="{{url_for('login')}}">Sign in</a>
                            <a type="button" href="{{url_for('home')}}" class="btn btn-secondary">Sign out</a>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/theme.js')}}"></script>
</body>

</html>