<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Dashboard - Droplets</title>
        <link rel="stylesheet" href="{{url_for('static', filename = "css/bootstrap.min.css")}}" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="{{url_for('static', filename = "fonts/fontawesome-all.min.css")}}">
        <link rel="stylesheet" href="{{url_for('static', filename = "fonts/font-awesome.min.css")}}">
        <link rel="stylesheet" href="{{url_for('static', filename = "fonts/ionicons.min.css")}}">
        <link rel="stylesheet" href="{{url_for('static', filename = "fonts/fontawesome5-overrides.min.css")}}">
        <link rel="stylesheet" href="{{url_for('static', filename = "css/Contact-Form-Clean.css")}}">
        <link rel="stylesheet" href="{{url_for('static', filename = "css/Login-Form-Clean.css")}}">
    </head>

<body>
    <section class="contact-clean">
        <form method="post"><i class="fa fa-arrow-left" style="font-size: 30px;"></i>
            <h2 class="text-center">Water Bill Payment</h2>
            <div class="mb-3">
                <p style="margin-bottom: 2px;">RR Number</p><input class="form-control" type="text" placeholder="RR Number" style="margin-top: 0px;margin-bottom: 15px;">
                <p style="margin-bottom: 2px;">Name</p><input class="form-control" type="text" placeholder="RR Number" style="margin-top: 0px;margin-bottom: 15px;">
                <p style="margin-bottom: 2px;">Bill No</p><input class="form-control" type="text" placeholder="RR Number" style="margin-top: 0px;margin-bottom: 15px;">
                <p style="margin-bottom: 2px;">Bill Date</p><input class="form-control" type="text" placeholder="RR Number" style="margin-top: 0px;margin-bottom: 15px;">
                <p style="margin-bottom: 2px;">Bill Amount</p><input class="form-control" type="text" placeholder="RR Number" style="margin-top: 0px;margin-bottom: 15px;">
                <p style="margin-bottom: 2px;">Phone</p><input class="form-control" type="text" placeholder="RR Number" style="margin-top: 0px;margin-bottom: 15px;">
                <p style="margin-bottom: 2px;">Email</p><input class="form-control" type="text" placeholder="RR Number" style="margin-top: 0px;margin-bottom: 15px;">
                <p style="margin-bottom: 2px;">Address</p><textarea class="form-control" placeholder="Address" style="margin-top: 0px;margin-bottom: 15px;"></textarea>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Confirm the bill details</label></div><button class="btn btn-primary" type="button">Button</button><button class="btn btn-primary" type="button" style="margin-left: 10px;">Button</button>
            </div>
        </form>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>